[submodule "projects/cmpm120_rocket-patrol-mod"]
	path = projects/cmpm120_rocket-patrol-mod
	url = https://github.com/Gloomsfield/cmpm120_rocket-patrol-mod.git
[submodule "projects/cmpm120_code-practice-04"]
	path = projects/cmpm120_code-practice-04
	url = https://github.com/Gloomsfield/cmpm120_code-practice-04.git
[submodule "projects/cmpm120_code-practice-05"]
	path = projects/cmpm120_code-practice-05
	url = https://github.com/Gloomsfield/cmpm120_code-practice-05.git
[submodule "projects/cmpm120_endless-runner"]
	path = projects/cmpm120_endless-runner
	url = https://github.com/Gloomsfield/cmpm120_endless-runner.git
[submodule "projects/cmpm120_code-practice-06"]
	path = projects/cmpm120_code-practice-06
	url = https://github.com/Gloomsfield/cmpm120_code-practice-06.git
[submodule "projects/cmpm120_code-practice-07"]
	path = projects/cmpm120_code-practice-07
	url = https://github.com/Gloomsfield/cmpm120_code-practice-07.git
[submodule "projects/cmpm120_playable-postcard"]
	path = projects/cmpm120_playable-postcard
	url = https://github.com/Gloomsfield/cmpm120_playable-postcard.git
[submodule "projects/cmpm176_tic-tac-bid"]
	path = projects/cmpm176_tic-tac-bid
	url = https://github.com/Gloomsfield/cmpm176_tic-tac-bid.git
[submodule "projects/cmpm170_sprint-1"]
	path = projects/cmpm170_sprint-1
	url = https://github.com/Gloomsfield/cmpm170_sprint-1.git
[submodule "projects/cmpm170_sprint-2"]
	path = projects/cmpm170_sprint-2
	url = https://github.com/Gloomsfield/cmpm170_sprint-2.git
